.payNow {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .div {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        p {
            display: flex;
        }
    }

    .salamtagi {
        background-color: black;

    }

    .salamtagi {
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono", monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s, transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
    }

    .salamtagi:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }

    .salamtagi:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .salamtagi:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }
}

.payNow {
    border: none !important;

    span {
        font-size: 17px !important;
        font-weight: normal !important;
        line-height: normal !important;
        background-image: linear-gradient(transparent) !important;
        font-family: 'Space Grotesk', sans-serif;
        background-image: none !important;
        font-size: 17px !important;
        // position: relative;
        padding: 0px !important;
        display: flex;
        // height: 100% !important;
        line-height: normal !important;
        // color: rgb(255, 255, 255);
        font-weight: normal !important;
        box-shadow: none !important;
        text-shadow: none !important;
        border-radius: 0px !important;
        background: transparent !important;
        white-space: nowrap;
        text-align: center !important;

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

.StripeCheckout {
    background: transparent !important;
    box-shadow: none !important;
}

header>.content>.title {
    padding: 0 35px 13px 35px;
    margin: 0;
    position: relative;
    z-index: 1;
    background: red !important;
}

// .nese{
//     // background: red;
// }
.notMeanPriceBox {
    display: none;
}

.darkpayNow {
    background-color: #2d2d2d;
    color: #888888;
    .div {
        background-color: #212121;
    }
}

.lightpayNow {
    background-color: #fcfcfc;
    color: #666666;
    .div {
        background-color: #ffffff;
    }
}