#nav {
    height: 100px;
    position: sticky;
    top: 0;
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        .sidebar{
            position: absolute;
            display: none;
            top: 100px;
            left: 0;
            width: 100%;
            padding: 20px 0px 20px 30px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
    .navbox {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navleft {
            svg {
                border-radius: 100%;
            }
        }

        .navmid {
            ul {
                display: flex;
                gap: 20px;

            }
        }

        .navright {
            display: flex;
            align-items: center;
            gap: 20px;
            span{
                display: none;
            }
            img {
                width: 50px;
                border-radius: 100%;
            }
        }
    }
}


.darknav {
    background-color: var(--navbar-bg-dark);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #212121;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #212121;
    .nav{
        .sidebar{
            border-top:1px solid #888888 ;
            background-color: var(--navbar-bg-dark);
            -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #212121;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #212121;
            ul{
                li{
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    .navbox {
        .navleft {
            svg {
                fill: white;
            }
        }

        .navmid {
            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }
        .navright{
            span{
                color: white;
            }
        }
    }
}

.lightnav {
    background-color: var(--navbar-bg-light);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #e6e6e6;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #e6e6e6;
    .nav{
        .sidebar{
            border-top:1px solid #666666 ;
            background-color: var(--navbar-bg-light);
            -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #e6e6e6;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #e6e6e6;
            ul{
                li{
                    a{
                        color: black;
                    }
                }
            }
        }
    }
    .navbox {
        .navleft {
            svg {
                fill: black;
            }
        }

        .navmid {
            ul {
                li {
                    a {
                        color: black;
                    }
                }
            }
        }
        .navright{
            span{
                color: black;
            }
        }
    }
}

.dnone{
    display: none;
}

@media screen and (max-width: 800px) {
    #nav{
        .nav{
            .sidebar{
                display: block;
            }
            .navbox{
                .navmid{
                    display: none;
                }
                .navright{
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}