#slider{
    width: 100%;
    height: 80vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .slider{
        width: 80%;
        height: 100%;
    }
    .swiper{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        img{
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        h2{
            position: absolute;
            z-index: 5;
            left: 20px;
            bottom: 20px;
            color: white;
        }
    }
}

.darkslider{
    background-color: #2d2d2d;

}

.lightslider{
    background-color: #fcfcfc;
}

@media screen and (max-width: 1200px) {
    #slider{
        height: 40vh;
    }
}

@media screen and (max-width: 600px) {
    #slider{
        height: 23vh;
        h2{
            font-size: 10px;
        }
    }
}