#profilepage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .profile{
        padding: 50px 50px;
        display: flex;
        justify-content: space-between;
        .userdatas{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 50px;
            img{
                width: 200px;
                height: 200px;
                border-radius: 100%;
            }
            .userdata{
                display: flex;
                flex-direction: column;
                gap: 10px;
                
            }
        }

        .iswatched{
            display: flex;
            flex-direction: column;
            img{
                max-width: 100px;
            }
        }
    }
}

.darkprofile{
    background-color: var(--contact-bg-dark);
    color: #888888;

}

.lightprofile{
    background-color: var(--contact-bg-light);
    color: #666666;
}