#detailpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    .watchtrailer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        .trailervideo{
            padding: 20px;
            background-color: #2d2d2d;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            .closer {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 25px;
                color: white;
                cursor: pointer;
            }
            iframe{
                width: 500px;
                height: 280px;
                border: none;
            }
        }
    }
    .ratewithstars {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        .stars {
            width: 25%;
            height: 20%;
            background-color: #2d2d2d;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            .button-9 {
                appearance: button;
                backface-visibility: hidden;
                background-color: #405cf5;
                border-radius: 6px;
                border-width: 0;
                box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
                font-size: 100%;
                height: 44px;
                line-height: 1.15;
                margin: 12px 0 0;
                outline: none;
                overflow: hidden;
                padding: 0 25px;
                position: relative;
                text-align: center;
                text-transform: none;
                transform: translateZ(0);
                transition: all .2s, box-shadow .08s ease-in;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .button-9:disabled {
                cursor: default;
            }

            .button-9:focus {
                box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
            }

            .closer {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 30px;
                color: white;
                cursor: pointer;
            }

            select {
                color: goldenrod;
                background-color: white;
                border: thin solid blue;
                border-radius: 4px;
                display: inline-block;
                font: inherit;
                line-height: 1.5em;
                padding: 0.5em 3.5em 0.5em 1em;
                margin: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            select.minimal {
                background-image:
                    linear-gradient(45deg, transparent 50%, gray 50%),
                    linear-gradient(135deg, gray 50%, transparent 50%),
                    linear-gradient(to right, #ccc, #ccc);
                background-position:
                    calc(100% - 20px) calc(1em + 2px),
                    calc(100% - 15px) calc(1em + 2px),
                    calc(100% - 2.5em) 0.5em;
                background-size:
                    5px 5px,
                    5px 5px,
                    1px 1.5em;
                background-repeat: no-repeat;
            }

            select.minimal:focus {
                background-image:
                    linear-gradient(45deg, green 50%, transparent 50%),
                    linear-gradient(135deg, transparent 50%, green 50%),
                    linear-gradient(to right, #ccc, #ccc);
                background-position:
                    calc(100% - 15px) 1em,
                    calc(100% - 20px) 1em,
                    calc(100% - 2.5em) 0.5em;
                background-size:
                    5px 5px,
                    5px 5px,
                    1px 1.5em;
                background-repeat: no-repeat;
                border-color: green;
                outline: 0;
            }


            select:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 #000;
            }
        }

    }

    .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .bgimg {
            height: 550px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            align-items: end;
            position: relative;

            h1 {
                padding-left: 20px;
                padding-bottom: 20px;
                color: white;
            }

            .player {
                font-size: 30px;
                color: white;
                position: absolute;
                width: 80px;
                height: 80px;
                background-color: #2196f3;
                border-radius: 10px;
                right: 50px;
                bottom: -40px;
                span{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                a {
                    width: 100%;
                    height: 100%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .moviemain {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 50px 0px;
            width: 80%;
            gap: 50px;

            .about {
                display: flex;
                flex-direction: column;
                gap: 20px;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    flex-wrap: wrap;
                }

                p {
                    max-width: 600px;
                }
            }

            .rating {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
                padding-right: 50px;

                .inWishlist {
                    color: green !important;
                }

                .addtolist {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    cursor: pointer;

                    P {
                        font-size: 15px;
                    }
                }

                .rate {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    cursor: pointer;
                    p {
                        font-size: 15px;
                    }
                }

                .trailer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;

                    p {
                        font-size: 15px;
                    }
                }
            }
        }

    }

    .cast {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding: 30px 0px;
        // width: 80%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;

        span {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        img {
            width: 120px;
            height: 120px;
            border-radius: 100%;
        }
    }
}

.darkdetail {
    background-color: #2d2d2d;

    .details {
        .about {
            color: #888888;
        }

        .addtolist {
            color: white;
        }

        .rate {
            color: white;
        }

        .trailer {
            color: white;
        }
    }

    .cast {
        color: #888888;
    }
}

.lightdetail {
    background-color: #fcfcfc;

    .details {
        .about {
            color: #666666;
        }
    }

    .cast {
        color: #666666;
    }
}

.dnone {
    display: none;
}