#lastwatched {
    padding: 0px 50px;

    .swiper {
        padding: 50px 0px;
    }

    .movies {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        // padding: 10px;
        button {
            position: absolute;
            right: 20px;
            top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #BA0021;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            backdrop-filter: blur(5px);
            transition: 0.3s ease-in-out;
            color: white;
            background: rgba(120, 120, 120, 0.7);
        }

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            // height: 500px;
            border-radius: 20px;
        }
    }

    .movies:hover {
        span {
            opacity: 1;
        }
    }
}

.darkmovies {
    background-color: #2d2d2d;

    a {
        color: #888888;

        ul {
            background-color: var(--background-color-dark);
            border: 1px solid black;
        }
    }
}

.lightmovies {
    background-color: #fcfcfc;

    a {
        color: #666666;

        ul {
            background-color: var(--background-color-light);
        }
    }
}

@media screen and (max-width: 1100px) {
    #movies {
        a {
            font-size: 10px;

            ul {
                img {
                    height: 300px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #movies {
        a {
            font-size: 7px;

            ul {
                img {
                    height: 200px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #lastwatched {
        button {
            right: 10px !important;
            top: 10px !important;
            padding: 5px !important;
        }

        a {
            font-size: 4px;

            ul {
                img {
                    height: 100px !important;
                }
            }
        }
    }
}